*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
section {
/*    outline: 1px solid red;*/
}
.container {
    width: 980px;
}

/*ШАПКА НАЧАЛО*/
.section-1 {
    height: 140px;
    padding-top: 22px;
}
.logo {
    display: inline;
    margin: 0;
    margin-right: 55px;
    width: 222px;
    height: 100%;
}
.logo img {
    vertical-align: top;   
}
.title, .title>h1 {
    display: inline-block;
    margin: 0;
/*    float: left; */
    
    font-size: 20px;
    box-sizing: border-box;
}
.title {
    width: 480px !important;
    vertical-align: top;
}
.contact {
    display: inline-block;
    float: right;
    width: 171px !important;
    vertical-align: top;
}
.contact .phones {
    background: url(../img/s1-phone-ico.png) no-repeat;
    background-position: 0 4px;
}

.contact .phones p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    text-align: right;
}

.contact .time {
    margin-bottom: -7px;
    padding-left: 45px;
    background: url(../img/s1-time-ico.png) no-repeat;
}
.contact .time p {
/*    margin: 0;*/
    font-size: 10px;
    line-height: 12px;
    float: left;
    color: #7e7e7e;
    text-align: center;
}
.contact .time hr {
    margin: 10px 5px 0;
    float: left;
    border: none;
    border-left: 1px solid #7e7e7e;
    height: 23px;
}
.contact a {
    display: block;
    margin: 5px auto;
    width: 171px;
    height: 22px;
    color: #fff;
    border: none;
    font-size: 11px;
    text-align: center;
    background: #0086C0;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
}
/*ШАПКА КОНЕЦ*/

/*МЕНЮ НАЧАЛО*/
.section-2 {
    padding-top: 12px;
    height: 58px;
    background: #F2F2F2;
}
.section-2 .container {
    padding: 0;
}
.section-2 ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    letter-spacing: none;
}
.section-2 li {
    margin: 0;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px solid #aeaeae;
    padding: 3px 44px;
    text-align: center;
}
.section-2 li:last-child {
    border: none;
}
.section-2 li a {
    color: #000;
}
.section-2 li a:active, .section-2 .active a {
    color: #3a3482;
}
/*МЕНЮ КОНЕЦ*/

/*ПОДБЕРИ АВТОШКОЛУ НАЧАЛО*/
.section-3 {
    padding-top: 148px;
    height: 554px;
    background: url(../img/s3-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.section-3 h3 {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 35px;
    text-align: center;
    width: 745px;
}
.section-3 a {
    display: block;
    margin: 120px auto 0;
    padding: 9px 0;
    text-align: center;
    width: 299px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: rgba(25, 37, 60, .8);
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
}
.section-3 img {
    height: 15px;
    margin-top: -3px;
    margin-left: 7px;
}
/*ПОДБЕРИ АВТОШКОЛУ КОНЕЦ*/

/*ОБ АССОЦИАЦИИ НАЧАЛО*/
.section-4 {
    height: 311px;
    background: #F2F2F2;
}
.section-4 p {
    font-style: italic;
    font-size: 18px;
}
.section-4 a {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    width: 192px;
    font-size: 18px;
    color: #fff;
    background: #002B68;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}
.section-4 a:hover {
    background: #0d234d;
}
/*ОБ АССОЦИАЦИИ КОНЕЦ*/

/*ЧЛЕНЫ АССОЦИАЦИИ НАЧАЛО*/
.section-5 {
    height: 1402px;
    padding-top: 33px;
}
.section-5 h3 {
    margin: 0;
    margin-bottom: 55px;
    text-align: center;
    font-size: 36px;
    color: #3F4149;
}
.section-5 .tr {
    margin-bottom: 30px;
}

.section-5 .banner {
    width: 50%;
    float: left;
}
.section-5 .school {
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
    height: 100px;
    margin-bottom: 49px;
}
.section-5 .school:nth-of-type(even) {
    padding-left: 45px;
}
.section-5 .school img {
    display: block;
    float: left;
    clear: both;
    margin-right: 25px;
}
.section-5 h4 {
    margin: 0;
}
.section-5 p {
    margin: 0;
    font-size: 12px;
}
.section-5 a {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 118px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #002B68;
    border-radius: 2px;
}
.section-5 a:hover {
    background: #0d234d;
}
.section-5 .school:nth-of-type(odd) a {
    right: 35px;
}
.section-5 hr {
    display: block;
    margin-bottom: 55px;
    width: 443px;
    border-color: #B2B2B2;
}
.section-5 hr:nth-of-type(even) {
    display: none;
}
.section-5 hr:last-child {
    display: none;
}

/*ЧЛЕНЫ АССОЦИАЦИИ КОНЕЦ*/

/*КАРТА НАЧАЛО*/
.section-6 {
    height: 539px;
    position: relative;
}
.section-6 h3 {
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 0;
    padding-top: 18px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.85em;
    min-height: 84px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
}
/*КАРТА КОНЕЦ*/

/*ПОДВАЛ НАЧАЛО*/
.section-7 {
    height: 189px;
    background: #1B3B50;
}
.section-7 .container {
	padding: 0;
	padding-top: 20px;
}
.section-7 .phones, .section-7 .social {
	display: inline-block;
	width: 49%;
}
.section-7 .phones p {
	margin: 0;
	text-align: left;
	color: #fff;
	font-size: 24px;
	line-height: 29px;
}
.section-7 .social {
	text-align: right;
}
.section-7 .social ul {
	padding: 0;
}
.section-7 .social li {
	list-style-type: none;
	display: inline-block;
	height: 100%;
	padding: 0 8px;
}
.section-7 .social li:nth-child(4) {
	padding-right: 0 ;
}
.section-7 .social li a {
	display: inline-block;
	width: 43px;
	height: 43px;
/*	outline: 1px solid red;*/
}
.section-7 .social .twitter {
	background-image: url(../img/sprite-social.png);
	background-position: 0 -42px;
}
.section-7 .social .vk {
	background-image: url(../img/sprite-social.png);
	background-position: -43px -42px;
}
.section-7 .social .rss {
	background-image: url(../img/sprite-social.png);
	background-position: 0 0;
}
.section-7 .social .facebook {
	background-image: url(../img/sprite-social.png);
	background-position: -43px 0;
}
.section-7 hr {
	margin-top: 8px;
	margin-bottom: 16px;
	border-right-color: #cacace;
}
.section-7 .copy p {
	display: inline-block;
	width: 49%;
	color: #fff;
	font-size: 11px;
}
.section-7 .copy a {
	color: #FF8E29;
	text-decoration: none;
	text-transform: none;
}
.section-7 .copy a:hover {
	color: #FF571C;
}
.section-7 .copy p:nth-child(even) {
	text-align: right;
	text-transform: uppercase;
}
/*ПОДВАЛ КОНЕЦ*/